{
    "env_keys": {
        "run_env": "RUN_MODE"
    },
    "loggers": [{
        "name": "mike",
        "config": {
            "production": {
                "out": {
                    "name": "redisio",
                    "options": {
                        "network": "tcp",
                        "address": "127.0.0.1:6379",
                        "password": "",
                        "db": 7,
                        "list_name": "redisio"
                    }
                },
                "level": "error",
                "formatter": {
                    "name": "text",
                    "options": {
                        "force_colors": false,
                        "disable_colors": false,
                        "disable_timestamp": false,
                        "full_timestamp": false,
                        "timestamp_format": "2006-01-02 15:04:05",
                        "disable_sorting": false
                    }
                },
                "hooks": [{
                    "name": "syslog",
                    "options": {
                        "network": "udp",
                        "address": "localhost:514",
                        "priority": "LOG_ERR",
                        "tag": ""
                    }
                }, {
                    "name": "bugsnag",
                    "options": {
                        "api_key": ""
                    }
                }, {
                    "name": "slack",
                    "options": {
                        "url": "",
                        "levels": ["debug", "error", "info"],
                        "channel": "",
                        "emoji": ":rag:",
                        "username": "logrus_mate"
                    }
                }, {
                    "name": "mail",
                    "options": {
                        "app_name": "logrus_example",
                        "host": "smtp.xxx.com",
                        "port": 587,
                        "from": "",
                        "to": "",
                        "username": "",
                        "password": ""
                    }
                }, {
                    "name": "logstash",
                    "options": {
                        "app_name": "logrus_example",
                        "protocol": "tcp",
                        "address": "172.17.0.2:9999",
                        "always_sent_fields": {"serviceName": "myServiceName"},
                        "prefix": "gogap"
                    }
                }]
            }
        }
    }]
}